.mainText {
    font-size: 20px;
    -unity-text-align: upper-left;
    white-space: normal;
    position: absolute;
    background-color: rgb(255, 255, 255);
}

.header {
    font-size: 40px;
    -unity-text-align: upper-center;
    background-color: rgb(255, 255, 255);
}
